/* RESET */
html {
  min-height: 100%;
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 150%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 60rem) {
  html {
    font-size: 125%;
  }
}

@media (max-width: 32rem) {
  html {
    font-size: 100%;
  }
}

body {
  line-height: 1;
  margin:0;
  color:#000;
}

/**
 * textCSS
 * By Erwin Larios.
 *
 * A starting point to styling text.
 */
p, h1, h2, h3, h4, h5, h6, ul{
  margin: 0;
  padding: 0;
}

/** Paragraphs */
p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

/** Headings */
 h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

h3 {
  font-size: 2em;
  line-height: 1.5;
}

h4 {
  font-size: 1.5em;
  line-height: 1;
}

h5 {
  font-size: 1.2em;
  line-height: 1.26;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0;
}

/** Lists */
ul {
  margin: 0 0 0 2rem;
}

li {
  line-height: 1.5;
}

ul ul {
  margin: 0 0 0 4rem;
}

/** Links */
a {
  color: #007acd;
  background: transparent;
  text-decoration: none;
}

a:hover {
  color: #000;
  background-color: #00FDDC;
}

a:active,
a:focus {
  position: static;
}

a:focus {
  outline: thin dotted;
}

/* MAIN */
.pageHeader:before,
.pageHeader:after,
.mainContent:before,
.mainContent:after,
.section:before,
.section:after,
.section-title:before,
.section-title:after {
  line-height: 1.5;
  color: #ac6600;
}
.pageHeader-title,
.pageHeader-description,
.mainContent-section,
.section-content {
  margin-left: 1rem;
}

@media (max-width: 37rem) {
  .pageHeader-title,
  .pageHeader-description,
  .mainContent-section,
  .section-content {
    margin-left: 0;
  }
}

.pageWrapper {
  padding: .5em 1em;
}

.pageHeader {
  margin-bottom: 1.5rem;
}

.pageHeader:before {
  content: "<header>"
}

.pageHeader:after {
  content: "</header>"
}

.pageHeader-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  line-height: 1;
}

.pageHeader-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-style: italic;
}

.mainContent {
  max-width: 37rem;
}

.mainContent:before {
  content: "<main>";
}

.mainContent:after {
  content: "</main>";
}

.mainContent-section {
  margin-bottom: 3rem;
}

.mainContent-section:last-child {
  margin-bottom: 0;
}

.section:before {
  content: "<section>";
}

.section:after {
  content: "</section>";
}

.section-title:before,
.section-title:after {
  font-size: 1rem;
  font-weight: 400;
}

.section-linkTarget {
  color: #227942;
}

.social-icon {
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

.skills-icon {
  vertical-align: middle;
}


.projectsList {
  list-style: none;
  margin:0;
}

.projectsList-item {
  position: relative;
  margin-bottom: 1.5rem;
}

.projectsList-item:last-child {
  margin-bottom: 0;
}

.project-title {
  margin-bottom: 0;
}

.project-image {
  position: absolute;
  top: 0;
  left: 25%;
  margin: 0;
  opacity: 0;
  z-index: -1;
}

.project:hover .project-image {
  opacity: .8;
}

.project-image-img {
  width: 180px;
  height: auto;
  margin: 0;
}

.project-image-caption {
  text-align: center;
  font-style: italic;
}

.project-tags {
  font-style: italic;
}
