/* RESET */
html {
  min-height: 100%;
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
  margin:0;
}

a {
  background: transparent;
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: #4D6DE3;
}

a:hover {
  color: #000;
  background-color: #4AE3B5;
}

/* MAIN */
.pageWrapper {
  padding: .5em 1em;
}

.pageHeader {
  margin-bottom: 1.5rem;
}

.pageHeader:before,
.pageHeader:after {
  line-height: 1.5;
  color: #ccc;
}

.pageHeader:before {
  content: "<header>"
}

.pageHeader:after {
  content: "</header>"
}

.pageHeader-title {
  margin: 0;
  font-size: 3em;
  line-height: 1;
}

.pageHeader-description {
  margin: 0;
  font-size: 1.5em;
  font-style: italic;
}

.mainContent {
  max-width: 600px;
}

.mainContent:before,
.mainContent:after {
  line-height: 1.5;
  color: #ccc;
}

.mainContent:before {
  content: "<main>";
}

.mainContent:after {
  content: "</main>";
}

.section:before,
.section:after {
  line-height: 1.5;
  color: #ccc;
}

.section:before {
  content: "<section>";
}

.section:after {
  content: "</section>";
}

.section-title:before,
.section-title:after {
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
}
.section-title:before {
  content: "<h2>";
}

.section-title:after {
  content: "</h2>";
}

.skills-progressBar {
  color: #BA53DE;
}
